@import './base.css';
@import 'bootstrap';
@import 'bootstrap-icons';

.page-link.active,
.active > .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-link,
.page-link:hover {
  color: #6c757d;
}
